:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #f8c3f7;
    --color-brand-slightly-less-lighter-than-normal-color-brand: #f886f6;
    --font-fam: 'Lato', sans-serif;
    --height: 3rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}
html{
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.flexbox{
  display:flex;
}
#factories{
  height: 150px;
  width: 150px;
}
#main{
  font-size: 10rem;
  margin-top: -2%;
  display: flex;
  justify-content: center;
}

.cookies{
  font-size: 5rem;
  height: 350px;
  width: 350px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}
#fleckersbockers{
  display: flex;
  flex-direction: row;
}
#moners{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: auto;
}
#card-inject{
  margin: 0 70% 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card{
  margin: 0 1037px 0 20px;
  width: 100%;
  display: flex;

  flex-direction: row;
}
.card-title{
  font-size: 1.5rem ;
}
.card-img{
  height: 250px;
  width: auto;
}
#moners{
  margin: 0 30% 0 0;
}
.moneycounter{
  font-size: 3rem;
  margin-top: 5%;
  justify-content: center;
  display: flex;
}
.logo{
  height: 10rem;
  margin-left: -15%;
  transition: var(--dur) all;
}
.logo:hover{
  box-shadow: 0 0.5rem 2rem var(--color-brand-slightly-less-lighter-than-normal-color-brand);
}
.cart{
  height: 2rem;
  margin-left: 300%;
  margin-top: 100%;
}
  .navbar {
    background-color: var(--color-brand);
    display: flex;
    padding: 1rem;
  }
  .navbar .ulstart {
    list-style: none;
    align-items: center;
    margin: auto;
    padding: 0;
    font-size: 2rem;
    display: flex;
  }
  .inners{
    display: flex;
    justify-content: center;
  }
  .navbar .ulstart .navlist .inners {
    display: flex;
    margin-top: 8%;
    padding: 20px 65px;
    text-decoration: none;
    color: var(--color-light);
    transition: var(--dur) all;
    position: relative;
    cursor: pointer;

  }
  .inners:hover {
    box-shadow: 0 .5rem 1.5rem var(--color-brand-slightly-less-lighter-than-normal-color-brand);
    border-radius: 10%;
    margin-left: 9%;
    margin-right: 9%;
    justify-content: center;
    background-color: var(--color-brand-slightly-less-lighter-than-normal-color-brand);
  }
.label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.checkersbockers{
  margin-left: -40px;
  padding: 2500px 2500px;
}
.search {
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    z-index: 1;
    position: relative;
    border: 2px solid black;
}
.formfirst {
    margin-top: 7%;
    margin-right: 50%;
    position: relative;
    width: 50rem;
    background: var(--color-brand);
    border-radius: var(--rad);
  }
.search{
    height: var(--height);
    font-family: var(--font-fam);
    color: var(--color-dark);
    font-size: 1.2rem;
}
.submitter{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background-color: var(--color-brand-slightly-less-lighter-than-normal-color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-light);
    font-size: 1.2rem;
}
input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
    + button {
      display: block;
    }
  }
  .dropbtn:hover {
    box-shadow: 0 .5rem 1.5rem var(--color-brand-slightly-less-lighter-than-normal-color-brand);
    border-radius: 10%;
    margin-left: -9%;
    margin-right: -9%;
    justify-content: center;
    background-color: var(--color-brand-slightly-less-lighter-than-normal-color-brand);
  }
  .dropdown{
    margin-left: 0%;
    margin-right: 5%;
    background-color: var(--color-brand);
    transition: var(--dur) all;
  }
  .dropbtn {
    background-color: var(--color-brand);
    color: var(--color-light);
    padding: 25px 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: var(--dur) all;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
  }
  .dropdown-content a{
    color: black;
    font-size: 1.2rem;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: var(--color-light);
  }
  
  .dropdown:active .dropdown-content {
    display: block;
    
  }

  .dropdown:focus-within .dropdown-content {
    display: block;
  }